.footerpage{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerTop{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 60px;
    border-bottom: 1.3px solid rgb(255, 255, 255);
    

}
.footerbox{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.footerbox h1{
    font-size: 27px;
    color: rgb(123, 221, 10);
}
.footerbox h1 span{
    color: rgb(255, 145, 0);
}
.footerbox p{
    font-size: 14px;
}
.footerbox a{
    color: white;
    text-decoration: none;
    font-size: 12px;  
    transition: 300ms;
    margin-top: 5px;
}
.footerbox a:hover{
    color: rgb(193, 193, 193);
    transform: scale(1.03);
}
.footerbotm{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;

}